<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="selenium-in-a-weekend">
    <test name="AllTests">
        <packages>
            <package name="tests">
                <include name="tests">
                </include>
            </package>
        </packages>
    </test>
</suite>